@import './_reset'
@import './icon'

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

// a:hover {
//   color: #006bff
// }
html,body{
  height :100%
}
html{
  overflow :hidden
}
.ly_h100{
  height :100%
}
body #__nuxt,body #__layout{
  height :100%
}
.ly_aside{
  width auto !important
  background-color: #ffffff
}
.ly_aside::-webkit-scrollbar{
  width :0
}
.ly_content{
  // padding-bottom: 60px;
  .ly_main{
    background-color: #ffffff
  }
  .asa_uploader{
    .el-upload{
      border 1px dashed #d9d9d9
      border-radius 6px
      cursor pointer
      position relative
      overflow hidden
      &:hover{
        border-color #409EFF
      }
    }
  }
  .asa_uploader_video{
    width 50%
    }
}
.tc_blue{
  color #409EFF
}
.tc_red{
  color #ed5565
}
.tc_warning{
  color #f8ac59
}
  
.tc_title_1 .el-breadcrumb__inner
  color #909399 !important
.tc_title_2 .el-breadcrumb__inner
  color #909399 !important
  